@define-color gruv-bg #282828;
@define-color gruv-fg #ebdbb2;
@define-color gruv-yellow #fabd2f;
@define-color gruv-orange #fe8019;
@define-color gruv-red #fb4934;
@define-color gruv-green #b8bb26;
@define-color gruv-blue #83a598;
@define-color gruv-purple #d3869b;
@define-color gruv-aqua #8ec07c;


* {
    font-family: Fira Code Font;
}

window { 
     /* background: alpha(@gruv-bg, 0.5); */
     background: none;
     color: @gruv-fg;
     /* border: 2px solid @gruv-fg; */
     border: none;
     /* border-radius: 4px; */
} 

/* window#waybar { */
/*     background: @gruv-bg; */
/*     margin: 0px; */
/*     padding: 0px; */
/* } */

/* #workspaces button { */
/*     padding: 0 5px; */
/*     background: transparent; */
/*     color: @gruv-fg; */
/*     border-radius: 0px; */
/*     border-top: 2px solid transparent; */
/* } */
.modules-left {
    background: alpha(@gruv-bg, 0.6);
    border: 1px solid @gruv-fg;
    border-radius: 4px;
    margin-top: 4px;
    margin-left: 12px;
}

.modules-center {
    background: alpha(@gruv-bg, 0.6);
    border: 1px solid @gruv-fg;
    border-radius: 4px;
    margin-top: 4px;
}

.modules-right {
    background: alpha(@gruv-bg, 0.6);
    border: 1px solid @gruv-fg;
    border-radius: 4px;
    margin: 4px;
    margin-right: 12;
}

#workspaces button {
    border: none;
    transition-duration: 0.3s;
    background: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: @gruv-fg;
    padding: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

#workspaces button.persistent {
    color: @gruv-fg;
}

#workspaces button.focused {
    color: @gruv-fg;
    border-top: 2px solid @gruv-fg;
}

#workspaces button.active {
    color: @gruv-orange;
    /* border-top: 2px solid @gruv-orange; */
    border-radius: 0px;
    font-weight: bold;
}

/* TODO: i'm not using pulseaudio, im using the other one, figure it out*/
#clock, #batter, #cpu, #memory, #network, #pulseaudio, #tray, #mode {
    background: none;
    padding: 0 3px;
    margin: 0 3px;
    margin-top: 3px;
    margin-bottom: 0px;
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

/* #workspaces button.active { */
/*     background: @gruv-yellow; */
/*     color: @gruv-bg; */
/* } */

/* #clock, #battery, #pulseaudio, #network { */
/*     color: @gruv-fg; */
/*     background: transparent; */
/*     padding: 0 10px; */
/* } */

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#cpu {

}

#memory {

}

#network {

}

#network.disconnected {

}

#pulseaudio {

}

#tray {
    /* background: @gruv-bg; */
    /* border-radius: 4px; */
}
/**/
/* window { */
/*     background: rgba(40, 40, 40, 0.76); */
/*     border-width: 2px; */
/*     border-style: solid; */
/*     border-color: @gruv-fg; */
/*     border-radius: 4px; */
/*     margin-left: 30px; */
/*     margin-right: 30px; */
/*     color: @gruv-fg; */
/* } */

